.create-button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px; /* Adjust the border-radius to change the roundness */
  background-color: #4caf50; /* Green background color */
  color: white; /* Text color */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 0.4s;
  width: 400px;
}

.create-button:hover {
  background-color: #45a049; /* Darker green background color on hover */
}

.number-container {
  display: flex;
}

.ball {
  width: 50px;
  height: 50px;
  margin: 3px;
  /* background-color: black; */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.ball-content {
  color: white;
}
